<header>
  <img class="logo" src="../../../assets/icons/icons8-usuario-de-género-neutro-filled-64.png" alt="USER">
  <a href=""><img class="logo" src="../../../assets/icons/Condo.png" alt="logo" ></a>
  <a href=""> <img class="logo" src="../../../assets/icons/icons8-más-filled-64.png" alt=""> </a>
</header>
<div class="tarjetero">
  <div id="tarj1" class="tarjeta">
    <h2>Park Avenue Towers 1253</h2>
    <img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png" alt="Options">
  </div>
  <div id="tarj2" class="tarjeta">
    <h2>Ocean Club 3356</h2>
    <img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png" alt="Options">
  </div>
</div>