<div>
  <header>
    <img class="logo" id="plus" src="../../../assets/icons/icons8-más-filled-64.png" alt="+" (click)="openModal('create-join')">
    <img class="logo" src="../../../assets/icons/Condo.png" alt="logo" >
    <a routerLink="/" (click)="onClickLogout()"> <img src="../../../assets/icons/icons8-salida-32.png" alt="logout"></a>
  </header>
  <h1>Tus condominios:</h1>
  <div class="nogroup" *ngIf="this.condos.length == 0">No pertences a ningún grupo aún, crea uno o únete a uno en el botón <span>+</span> </div>
  <div *ngIf="this.condos.length > 0" class="tarjetero">
    <div *ngFor="let condo of condos; index as i" >
      <div class="tarjeta" *ngIf="this.condos[i] != undefined">
          <a routerLink="/{{this.uid}}/menu/{{this.condos[i].idgrupo}}">
            <div>
                <h2>{{condos[i].nombre}}</h2>
                <p>{{condos[i].direccion}}</p>
            </div></a>
            <img class="logo" (click)="selectedCondo(condos[i].idgrupo)" (click)="openModal('eliminar')" src="../../../assets/icons/icons8-basura-48.png" alt="Options">
      </div>
    </div>
  </div>
</div>
<jw-modal id="create-join">
  <form>
    <a routerLink="/{{this.uid}}/create"><button id="create">Crea un condominio</button></a> 
    <a routerLink="/{{this.uid}}/join"><button id="join" >Unete a un condominio</button></a> 
  </form>
</jw-modal>
<jw-modal id="eliminar">
  <form>
    <p id="pregunta">¿Estás seguro que deseas salirte de este condominio? esta acción es irreversible.</p>
    <div id="sino"> 
      <a><button class="boton" id="yesno" (click)="deleteFromGroup()" (click)="closeModal('eliminar')">Si</button></a> 
      <a><button class="boton" id="yesno" (click)="closeModal('eliminar')" >No</button></a>
    </div>
  </form>
</jw-modal>