
#J{
    background: #FAFF00;
}

#R{
    background: #56CCF2;
}

#delete{
    width: 200px;
    margin: 1rem;
}

.move{
    width: 200px;
    margin: 1rem;
}

.logo{
    cursor: pointer;
}

#move, #move-delete{
    text-align: center;
}