<header>
  <a routerLink="/menu"> <img class="logo" src="../../../assets/icons/icons8-eliminar-48.png" alt="cerrar"></a>
  <h2>Personas</h2>
  <div class="empty"></div>
</header>
<div class="tarjetero">
  <h2 id="sub">Junta de Condominio</h2>
  <div id="J" class="tarjeta">
    <h2>Pedro Perez</h2>
    <img class="logo" src="../../../assets/icons/icons8-pencil-filled-48.png" alt="Options" routerLink="/personas" (click)="openModal('move')">
  </div>
  <h2 id="sub">Residentes</h2>
  <div id="R" class="tarjeta">
    <h2>Juan Rodriguez</h2>
    <img class="logo" src="../../../assets/icons/icons8-pencil-filled-48.png" alt="Options" routerLink="/personas" (click)="openModal('move-delete')">
  </div>
  <jw-modal id="move">
    <a><button id="move">Mover</button></a> 
  </jw-modal>
  <jw-modal id="move-delete">
    <a><button id="move">Mover</button></a> 
    <a><button id="delete" >Eliminar</button></a> 
  </jw-modal>
</div>