<header>
  <img class="logo" src="../../../assets/icons/icons8-eliminar-48.png" alt="cerrar">
  <h2 class="Title2">Crear Grupo</h2>
  <div class="empty"></div>
</header>
<div class="container">
  <form>
      Nombre: <br> <input class="textin" type="text">
      Dirección: <br> <input class="textin" type="text">
  </form>
  <div class="check">
    <input class="checkbox" type="checkbox" name="Finanzas" value="Finanzas"> Finanzas<br>
    <input class="checkbox" type="checkbox" name="Propuestas" value="Propuestas"> Propuestas<br>
    <input class="checkbox" type="checkbox" name="Comunicacion" value="Comunicacion" checked> Comunicacion<br>
    <input class="checkbox" type="checkbox" name="Seguridad" value="Seguridad"> Seguridad<br>
    <input class="checkbox" type="checkbox" name="Documentos" value="Documentos"> Documentos<br>
  </div>
  <input class="button" id="Crear" type="submit" value="Crear">
</div>
  
