<header>
  <a routerLink="/{{this.uid}}/menu/{{this.idgrupo}}"> <img class="logo" src="../../../assets/icons/icons8-eliminar-42 (1).png" alt="USER"></a>
  <h2>Notificaciones</h2>
  <a href=""> <img class="logo" src="../../../assets/icons/icons8-más-filled-64.png" alt=""> </a>
</header>
<div class="tarjetero">
  <div id="noti" class="tarjeta">
    <div id="titulo">
        <h2 id="texto">Carro mal Estacionado</h2>
        <img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png" alt="Options">
    </div>
    <div id="profile">
      <h2>Pedro Perez</h2>
      <img class="logo" src="../../../assets/icons/icons8-usuario-de-género-neutro-filled-64.png" alt="USER">
    </div>
  </div>
</div>