<header>
  <a routerLink="/{{this.uid}}/menu/{{this.idgrupo}}"> <img class="logo" src="../../../assets/icons/icons8-eliminar-42 (1).png" alt="USER"></a>
  <h2>Notificaciones</h2>
  <a (click)="openModal('crear')"> <img class="logo" src="../../../assets/icons/icons8-más-filled-64.png" alt="mas"></a>
</header>
<div class="tarjetero">
  <div *ngFor="let notificacion of notificaciones; index as i" id="noti" class="tarjeta">
    <div id="titulo">
      <h2 id="texto" (click)="selectNoti(notificaciones[i])" (click)="openModal('abrir')">{{notificaciones[i].titulo}}</h2>
      <a (click)="openModal('eliminar')"><img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png"
          alt="Options"></a>
    </div>
    <div>
      <p class="monto" id="profile">Por: {{notificaciones[i].first}} {{notificaciones[i].last}}</p>
    </div>
  </div>
</div>

<jw-modal id="crear">
  <header class="hModal">
    <div class="empty"> </div>
    <h2 class="Title2">Crear Notificación</h2>
    <div class="empty"> </div>
  </header>
  <form [formGroup]="notificacion">
      Título: <br> <input type="text" formControlName="titulo">
      Contenido: <br> <textarea name="Contenido" class="textin" id="textbox" formControlName="mensaje"></textarea>
      Tipo de notificación: <br> <select class="textin" formControlName="isAR">
        <option value=true >Anuncio</option>
        <option value=false >Reclamo</option>
      </select>
      <button class="button" id="confirm" (click)="this.addNotificacion('crear')">Crear</button>
  </form>
</jw-modal>

<jw-modal id="eliminar">
  <form>
    <p id="pregunta">¿Estás seguro que deseas eliminar esta notificación? esta acción es irreversible.</p>
    <div id="sino">
      <a><button class="boton" id="yesno" (click)="closeModal('eliminar')">Si</button></a>
      <a><button class="boton" id="yesno" (click)="closeModal('eliminar')">No</button></a>
    </div>
  </form>
</jw-modal>

<jw-modal id="abrir">
  <header class="hModal">
    <div class="empty"> </div>
    <h2 class="Title2">{{noti?.titulo}}</h2>
    <div class="empty"> </div>
  </header>
  <p id="content">Por: {{noti?.first}} {{noti?.last}}</p>
  <p id="content">{{noti?.mensaje}}</p>
  <footer class="hModal" id="vote">
    <div id="downvote">
      <a> <img class="logo" src="../../../assets/icons//downvote 48.png" alt="mas"> </a>
      <p id="voto">0</p>
    </div>
    <div id="upvote">
      <p id="voto">0</p>
      <a> <img class="logo" src="../../../assets/icons/upvote 48.png" alt="mas"> </a>
    </div>
  </footer>
</jw-modal>