#notiA{
    background: #F2C94C;
    display: inline-block;
    height: 110px;
}

#notiR{
    background: #ED0F0F;
    display: inline-block;
    height: 110px;
}

#texto{
    height: 70px;
}

#profileA{
    background: #F2994A;
    display: flex-end;           
    align-items: center;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;  
    border: 0;
    width: 472px;
    color: #eeeeee;
}

#profileR{
    background:#B10000;
    display: flex-end;           
    align-items: center;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;  
    border: 0;
    width: 472px;
    color: #eeeeee;
}

@media screen and (max-width:505px){
    #profileR, #profileA{
        width: 272px;
    }

    #crear{
        zoom: 80%;
    }
}