<header>
  <!--Falta el router link para poder salir del recibo y volver a la lista de recibos-->
  <a><img class="logo" src="../../../assets/icons/icons8-eliminar-48.png" alt="cerrar"></a>
  <h2 class="Title2">*Mes, Año*</h2>
  <div class="empty"></div>
</header>
<div class="tarjetero">
    <h2>Gastos del mes</h2>
      <div class="tarjeta" id="gastoMes">
        <div id="nameDate">
          <p id="contenido">Nombre</p>
          <p id="contenido">fecha</p>
        </div>
        <p id="contenido">numero de Transferencia</p>
        <p id="contenido">Descripcion</p>
        <p id="contenido">Gasto:</p>
        <p class="monto" id="gasto">$2,000,000.00</p>
        <p id="contenido">Tu contribución:</p>
        <p class="monto" id="contribucion">$25,000.00</p>
      </div>
    <h2>Recibo</h2>
    <div class="tarjeta" id="recibo">
        <div id="nameDate">
          <p id="contenido">Total gastos:</p>
          <p id="contenido">$2,000,000.00</p>
        </div>
        <div id="nameDate">
          <p id="contenido">Alícuota:</p>
          <p id="contenido">0.70</p>
        </div>
        <p id="contenido">Total contribución:</p>
        <p class="monto" id="contribucion">$25,000.00</p>
      </div>
</div>
