#F{
    background: url(../../../assets/icons/Finanzas4.jpeg) no-repeat center;
}

#P{
    background: url(../../../assets/icons/Propuestas.jpeg) no-repeat center;
}

#N{
    background: url(../../../assets/icons/Comunicacion2.jpeg) no-repeat center;
}

#D{
    background: url(../../../assets/icons/documentos.jpeg) no-repeat center;
}

#S{
    background: url(../../../assets/icons/Seguridad.jpeg) no-repeat center;
}