#Fin{
    background: url(../../../assets/icons/Finanzas4.jpeg) no-repeat center;
}

#Props{
    background: url(../../../assets/icons/Propuestas.jpeg) no-repeat center;
}

#Nots{
    background: url(../../../assets/icons/Comunicacion2.jpeg) no-repeat center;
}

#Docs{
    background: url(../../../assets/icons/documentos.jpeg) no-repeat center;
}

#Seg{
    background: url(../../../assets/icons/Seguridad.jpeg) no-repeat center;
}
h2{
    text-align: center;
}
@media screen and (max-width:330px){
    h2{
        font-size: 18px;
    }
}