<header>
  <img class="logo" src="../../../assets/icons/icons8-grupos-de-usuarios-32.png" alt="USER">
  <h2>Ocean Club 3356</h2>
  <div class="empty"></div>
</header>
<div class="tarjetero">
  <div id="F" class="tarjeta">
    <h2>Finanzas</h2>
    <img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png" alt="Options">
  </div>
  <div id="P" class="tarjeta">
    <h2>Propuestas</h2>
    <img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png" alt="Options">
  </div>
  <div id="N" class="tarjeta">
    <h2>Notificaciones</h2>
    <img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png" alt="Options">
  </div>
  <div id="D" class="tarjeta">
    <h2>Personas</h2>
    <img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png" alt="Options">
  </div>
</div>
