<header>
  <img class="logo" src="../../../assets/icons/icons8-eliminar-48.png" alt="cerrar">
  <h2 class="Title2">Crear Propuesta</h2>
  <div class="empty"> </div>
</header>
<div class="container">
  <form>
      Título: <br> <input class="textin" type="text">
      Descripción: <br> <textarea class="textin" rows="20" cols="1" wrap="soft" style="height: 120px"></textarea> 
      Presupuesto: <br> <textarea class="textin" rows="20" cols="1" wrap="soft" style="height: 120px"></textarea> 
  </form>
  
  <input class="button" id="Crear" type="submit" value="Crear">
</div>
