div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title{

    margin-top: 0.2em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    display: block;
    align-self: auto;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Title2{
    margin-top: 0.2em;

    display: flex;
    align-items: center;
    text-align: center;
    display: block;
    align-self: auto;
}

#OK{
    width: 60px;
    height: 40px;
    margin: 1em;
}

.text{
    margin-bottom: 0;
}

img{
    width: 100px;
    height: 120px;
    margin-top: 10px;

    mix-blend-mode: normal;
    display: block;
    align-self: auto;
}

@media screen and (max-width:321px){
    img{
        width: 80px;
        height: 96px;
    }

    h1.Title{
        /*width: 160px;
        height: 36px;*/
        font-size: 35px;
    }
}