<div class="container" >
  <img src="../../../assets/icons/Condo.png" alt="logo">
  <h1 class="Title">CONDOS</h1>
  <h2 class="Title2" id="Title2mar">Inicio de Sesión</h2>
  <form > 
    E-mail: <br> <input class="textin" type="email" name="email" [(ngModel)]="email"> 
    Contraseña: <br> <input class="textin" type="password" name="contraseña" [(ngModel)]="password">
    <button id="OK" (click)="onSubmitLogIn()">OK</button>
  </form>
  <p class="text">¿No tienes cuenta? <br> <a routerLink="/signup"> Registrate</a> </p>
</div>
