<header>
  <a routerLink="/{{this.uid}}/menu/{{this.idgrupo}}"> <img class="logo" src="../../../assets/icons/icons8-eliminar-42 (1).png" alt="USER"> </a>
  <h2>Propuestas</h2>
  <a (click)="openModal('add')"> <img class="logo" src="../../../assets/icons/icons8-más-filled-64.png" alt=""> </a>
</header>
<div class="tarjetero">
    <div *ngFor="let propuesta of propuestas; index as i" id="pro" class="tarjeta">
      <div id="titulo">
        <h2 (click)="openModal('abrir', propuestas[i])">{{propuestas[i].titulo}}</h2>
        <a (click)="openModal('eliminar')"><img class="logo" src="../../../assets/icons/icons8-menú-2-filled-48.png" alt="Options"></a>
      </div>
      <div>
        <p class="monto" *ngIf="propuestas[i].presupuesto != null">Bs. {{propuestas[i].presupuesto}}</p>
      </div>
    </div>
  </div>

  <jw-modal id="add">
    <header class="hModal">
        <div class="empty"> </div>
        <h2 class="Title2">Nueva Propuesta</h2>
        <div class="empty"> </div>
    </header>
    <form [formGroup]="propuesta">
        Título: <br> <input type="text" formControlName="titulo">
        Descripción: <br> <textarea class="textin" id="textbox" formControlName="descripcion"> </textarea>
        Presupuesto: <br> <input type="text" formControlName="presupuesto" >
        <button class="button" id="confirm"   [disabled]="propuesta.invalid"  (click)="this.addPropuesta('add')">Crear</button>
    </form>
  </jw-modal>

  <jw-modal id="eliminar">
    <form>
      <p id="pregunta">¿Estás seguro que deseas eliminar esta propuesta? esta acción es irreversible.</p>
      <div id="sino"> 
        <a><button class="boton" id="yesno" (click)="closeModal('eliminar')">Si</button></a> 
        <a><button class="boton" id="yesno" (click)="closeModal('eliminar')" >No</button></a>
      </div>
    </form>
  </jw-modal>

  <jw-modal id="abrir">
    <header class="hModal">
      <div class="empty"> </div>
      <h2 class="Title2">{{pro.titulo}}</h2>
      <div class="empty"> </div>
    </header>
    <p class="descripcion">{{pro.descripcion}}</p>
    <h2 id="pre">Presupuesto:</h2>
    <p class="monto" id="center">Bs. {{pro.presupuesto}}</p>
    <footer class="hModal" id="vote">
      <div id="downvote">
        <a> <img class="logo" src="../../../assets/icons//downvote 48.png" alt="mas"> </a>
        <p id="voto">0</p>
      </div>
      <div id="upvote">
        <p id="voto">0</p>
        <a> <img class="logo" src="../../../assets/icons/upvote 48.png" alt="mas"> </a>
      </div>
    </footer>
  </jw-modal>
