#pro{
    background: #6FCF97;
    display: inline-block;
}

a{
    cursor: pointer;
}

#texto{
    cursor: pointer;
}

#pre{
    margin-bottom: 8px;
}

#center{
    width: auto;
}

#vote{
    justify-content: center;
}

#upvote, #downvote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#voto{
    display: flex;
    padding-right: 8px;
    padding-left: 8px;
}

#voted{
    cursor: not-allowed;
    opacity: 0.5;
}

@media screen and (max-width:505px){

    #add{
        zoom: 80%;
    }

}