<header>
  <img class="logo" src="../../../assets/icons/icons8-eliminar-48.png" alt="cerrar">
  <h2 class="Title2">Unirse a un Grupo</h2>
  <div class="empty"> </div>
</header>

    <body class="container">

    <form>
        <div class="overlay">
        Pregúntale a un miembro de tu Junta de Condominio o Asociación de Vecinos el código del grupo
        <div class='margin'></div>
        <br> Código: <br> <input class="textin" type="text">
        <div class='margin'></div>
        <input class="button" id="OK" type="submit" value="OK">
        </div>
        

    </form>

    
  
    
  </body>

   


