<div class="container">
  <div class="custom">
    <img class="logo" src="../../../assets/icons/Condo.png" alt="logo">
    <h1 class="Title">ONDOS</h1>
  </div>
  <h2 class="Title2">Registro de Usuario</h2>
  <form [formGroup]="user">
      <!--<input type="text" id="userid" formControlName="uid">-->
      Nombre: <br> <input type="text"  formControlName="first" >
      Apellido: <br> <input type="text" formControlName="last"  >
      Cédula: <br> <input type="text" formControlName="cedula" >
      <span *ngIf="cedula.errors?.min && cedula.touched">
          Cédula no valida
      </span>
      E-mail: <br> <input type="email" formControlName="email">
      <span *ngIf="email.invalid && email.touched">
          Tu email no parece bien escrito
      </span>
      Contraseña: <br> <input type="password"  formControlName="password" >
      <span *ngIf="password.invalid && password.touched">
          Tu contraseña debe tener al menos 1 letra y 1 número
      </span>
   <button class="Registrate" [disabled]="user.invalid" (click)="AddUser()" >Registrate</button>
  </form>
  <p class="text">¿Tienes cuenta? <br> <a routerLink="/"> Inicia Sesión</a> </p>
</div>
