<header>
  <a routerLink="/{{this.uid}}/menu/{{this.idgrupo}}"><img class="logo" src="../../../assets/icons/icons8-eliminar-48.png" alt="USER"> </a>
  <h2 class="Title2">Finanzas</h2>
  <div class="empty"> </div>
</header>
<div class="tarjetero">
  <a routerLink="/{{this.uid}}/estadoCuenta/{{this.idgrupo}}/">
    <div id="generico" class="tarjeta">
      <h2>Estado de Cuenta del Condominio</h2>
    </div>
  </a>
  <a routerLink="/{{this.uid}}/listaDeudores/{{this.idgrupo}}/">
    <div id="generico" class="tarjeta">
      <h2>Lista de Acreedores y Deudores</h2>
    </div> 
  </a>
  <h2 class="Title2">Mis Recibos recientes</h2>
  <div *ngFor="let recibo of recibos; index as i" class="tarjeta" id="recibo">
    <p id="contenido">Fecha: {{recibos[i].date}} </p> <button id="payment" (click)="openModal('pay')">Pagar</button>
    <div class="monto">
        <p id="pago">Bs. {{recibos[i].monto}}</p>
    </div>
  </div>
  <h2 class="Title2">Mis Pagos recientes</h2>
  <div *ngFor="let pago of pagos; index as i" class="tarjeta" id="recibo">
    <p id="contenido">Fecha: {{pagos[i].date}} Núm referencia: {{pagos[i].ref}}</p>
    <p class="monto" id="pago">Bs. {{pagos[i].monto}}</p>
  </div>
</div>
<jw-modal id="pay">
    <header class="hModal">
        <div class="empty"> </div>
        <h2 class="Title2">Pagar</h2>
        <div class="empty"> </div>
    </header>
    <form [formGroup]="pago">
        Número de referencia: <br> <input type="text"  formControlName="ref">
        Banco: <br> <select formControlName="banco">
          <option value="1">Banco Provincial</option>
          <option value="2">Banesco</option>
          <option value="3">Mercantil</option>
          <option value="4">Banplus</option>
        </select>
        Monto: <br> <input type="text" formControlName="monto" >
        Fecha: <br> <input type="date" formControlName="date">
        <button class="button" id="confirm"   [disabled]="pago.invalid"  (click)="this.confirmPayment('pay')">Confirmar</button>
    </form>
  </jw-modal>
