.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.message{
    width: 320px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.image{
    width: 320px;
    height: 180px;
}